# Node modules
node_modules/                 # Dependency files

# Environment variables
.env                           # Environment variable configuration

# Logs
logs/                          # Log files
*.log                          # All log files

# Temporary files
tmp/                           # Temporary files
.cache/                        # Cache files

# OS-specific files
.DS_Store                      # macOS system file
Thumbs.db                     # Windows thumbnail cache

# IDE specific files
.vscode/                       # Visual Studio Code settings
.idea/                         # IntelliJ IDEA settings
